<h1>Sign In</h1>
<form action="/sessions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label for="email">Email: </label>
    <input type="email" name="email" >
    <label for="password">Password: </label>
    <input type="password" name="password">
  <button type="submit">Log In</button>
</form>